* {
  font-family: Helvetica;
  margin: 0 auto;
  text-align: center;
}


canvas {
  margin: 0px auto;
  border-radius: 15px;
  background-color: #dee5ef;
  margin-top: 30px;
}

body {
  background-color: #bec5d1;
  background-image: url(./images/mainbackground.png);
  background-repeat: no-repeat;
}

.start-page {
  display: flex;
  text-align: center;
  flex-flow: column;
}

h2 {
  font-size: 80px;
  font-weight: 700;
  font-family: Helvetica;
  color: white;
  margin-bottom: -15px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h2 a{
  text-decoration: none;
  color: white;
}

h2 a:hover {
  color: #A4A6B8;
  text-decoration: none;
}

body button {
  font-size: 25px;
  background-image: url(./images/button2.png);
  background-size: 350px;
  background-position: center;
  color: #fff;
  padding: 13px 45px;
  border: 0;
  box-shadow: 0;
  border-radius: 15px;
  margin-bottom: 10px;
  -webkit-filter: grayscale(100%);
}

button:hover {
  background-image: url(./images/button2.png);
  background-size: 350px;
  background-position: center;
  -webkit-filter: grayscale(10%);

}


.oprah-spinning {
  width: 40%;
  padding-bottom: 20px;
}

.instructions {
  flex-flow: column;
  width: 30%;
  padding: 10px 30px;
  border-radius: 15px;
  background-color: #dee5ef;
  margin-top: 10px;
  margin-bottom: 10px;
}

.instructions p{
  background-color: #dee5ef;
  font-size: 10px;
  margin-top: -20px;
}

.instructions h3 {
  font-size: 20px;
  background-color: #dee5ef;
  padding-bottom: 15px;
  color: #2B125F;
}

.objective {
  flex-flow: column;
  width: 30%;
  padding: 10px 30px;
  border-radius: 15px;
  background-color: #dee5ef;
  margin-bottom: 10px;
}

.objective p{
  background-color: #dee5ef;
  font-size: 10px;
  margin-top: -20px;
}

.objective h3 {
  font-size: 20px;
  background-color: #dee5ef;
  padding-bottom: 15px;
  color: #2B125F;
}
.objective h4 {
  font-size: 15px;
  background-color: #dee5ef;
  color: black;
}


h3 {
  font-weight: 800;
}

.bread {
  width: 15%;
  background-color: #dee5ef;
  padding-bottom: 8px;
}
.vanilla {
  width: 10%;
  background-color: #dee5ef;
  padding-bottom: 8px;
}

.arrows {
  width: 20%;
  background-color: #dee5ef;
  padding-bottom: 20px;
}



.money {
  width: 8%;
  background-color: #dee5ef;
}


.game-start a{
  text-decoration: none;
  color: white;
}

.oprah-header a{
  font-size: 90px;
  font-weight: 700;
  padding: 30px 0;
  text-decoration: none;
}
